In [9]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB

In [10]:
df=pd.read_csv('/home/siva/Downloads/archive(9)/lingSpam.csv')
df

      Unnamed: 0                                               Body  Label
0              0  Subject: great part-time or summer job !\n \n ...      1
1              1  Subject: auto insurance rates too high ?\n \n ...      1
2              2  Subject: do want the best and economical hunti...      1
3              3  Subject: email 57 million people for $ 99\n \n...      1
4              4  Subject: do n't miss these !\n \n attention ! ...      1
...          ...                                                ...    ...
2600        2600  Subject: computationally - intensive methods i...      0
2601        2601  Subject: books : a survey of american linguist...      0
2602        2602  Subject: wecol ' 98 - - western conference on ...      0
2603        2603  Subject: euralex ' 98 - revised programme\n \n...      0
2604        2604  ,Body,Label\n 0,"Subject: great part-time or s...      0

[2605 rows x 3 columns]

In [11]:
df.Label.value_counts()

Label
0    2172
1     433
Name: count, dtype: int64

In [13]:
pipeline=Pipeline([
('vectoriser',CountVectorizer()),
('naive_bayes',MultinomialNB())])
X=df['Body']
y=df['Label']
score=cross_val_score(pipeline,X,y,cv=5)
score.mean()

0.9930902111324376

In [15]:
sparse_matrix=CountVectorizer()
result=sparse_matrix.fit_transform(X)
resultant_matrix=result.toarray()
resultant_matrix

array([[   2,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       [   1,    0,    0, ...,    0,    0,    0],
       ...,
       [   0,    0,    0, ...,    0,    0,    0],
       [   0,    0,    0, ...,    0,    0,    0],
       [5766, 2578,    4, ...,   10,    2,    2]])